body {
    background-color: #050000;
    margin: 10px 10px 10px 10px;
    padding: 50px;
    
}

.navigation-bar h1 {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: rgb(186, 109, 238);
     font-size: xx-large;
}


.navigation-bar {
    background-color: rgb(14, 0, 24);
    display: flex;
    padding: 0 30px;
    color: rgb(186, 109, 238);
    top: 0; 
    justify-content:space-between; 
    width: fit-content;
    align-items:center;
    border-radius: 10px;
    position: fixed;
    font-size: x-large;
    width: 90%;
}

header{
    display:flex;
    justify-content: left;
    align-items: left;
    list-style: none;
    padding:10px 0;
    margin: 0;
}

li {
    display: inline-block;
    list-style: none;
    padding: 0px 10px 0px 10px;
    font-weight: 900;
    text-align: center;
}

.navigation-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    position:sticky;
    justify-content: center;
}

.navigation-menu li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px
}

.navigation-menu li a:hover {
    background-color: #8e2bbf;
}

.video-player {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    align-content: center;
}
.hero {
    text-align: center;
    padding: 2rem 0;
    color: burlywood;
}

.feature-presentation {
    color:bisque;
}

.spots {
    text-align: center;
}

.spot {
    background-color: #070000;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align:center;
    color:ghostwhite;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:coral;
}

.spot img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border: 1px solid #ccc;
    padding: 1px;
    width:fit-content;
    text-align: justify;
}

.products-container h2 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}


.product-item {
   width: 300px;
   border-radius: 10px;
   padding: 0px 0px 10px 0px;
   margin: 10px;
   color:antiquewhite;
   width: fit-content;
   align-content: center;
}

.product-item img {
    border-radius: 10px 10px 0 0;
    padding:50px;
    height:150px;
    object-fit: cover;
    align-items: center;
}

.product-item button {
    background-color: #4CAF50;
    color:#fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.product-item button:hover {
    background-color: #3e8e41;
}

.hashtags {
    font-size: 0.8rem;
    color: #666;
    margin-top: 0.5rem;
}

.contact-banner {
    text-align: center;
    padding: 2rem;
}

.map-container {
    margin: 1rem 0;
}

aside {
    flex: 0 0 20%;
    padding: 10px;
}

.my-info {
   background-color: #ccc;
   padding: 15px;
   border-radius: 8px;
   text-align: center;
   margin-bottom: 20px;
}

.my-info img {
    width:80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

aside {
    position: fixed;
    top: 200px;
    right: 0;
    float: right;
    width: 20%;
    padding: 20px;
    background-color: #f0f0f0;
}

aside img {
    aspect-ratio: 3/4;
}

footer {
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
